{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container">
    <div class="filler">
        <div class="form-container">
            <form method="POST">
                <div class="input-block">
                    <label for="">Login</label>
                    <input type="text">
                </div>
                <div class="input-block">
                    <label for="">Password</label>
                    <input type="password">
                </div>
                {% csrf_token %}
                <button>Log In</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>