{% load static %}
<nav class="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>

        {% if user.is_authenticated %}
            <li>Привет, {{ user.username }}!</li>
            <li><a href="{% url 'profile' %}">Профиль</a></li>
            <li><a href="{% url 'logout' %}">Выход</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Вход</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
        {% endif %}
    </ul>
</nav>

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
