/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../images/background2.jpg");
}

/* Контейнер */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: url("../images/background.jpg");
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
    font-size: 2.5rem;
}

header p {
    color: #777;
    font-size: 1.2rem;
}

/* Секции */
section {
    margin: 20px 0;
}

section h2 {
    color: #007BFF;
    font-size: 1.8rem;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}

section p {
    line-height: 1.6;
}

/* Стили для контактов */
.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Подвал */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
}

.category-list {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0; /* Remove default padding */
    display: flex; /* Display items horizontally */
    flex-wrap: wrap; /* Wrap items to the next line if necessary */
}

.category-list li {
    background-color: white; /* Background color for each item */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 10px; /* Space between items */
    padding: 20px; /* Padding for better spacing */
    width: calc(33.33% - 20px); /* Make items responsive */
    text-align: center; /* Center text and image */
    cursor: pointer; /* Change cursor to indicate clickability */
}

.category-list li:hover {
    background-color: #f4f4f4; /* Change background on hover */
}




.icons {
    width: 65px;
    height: 55px;
    margin-right: 20px;
}